.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.quartz-cache
Clippings/*
!Clippings/shared/
!Clippings/shared/**
.replit
replit.nix


# Personal AI (Pi) - LoFi Monk -
.pi/
AGENT.md

# Obsidian stuff that i want to ignore. ask lofi before changing this.
.obsidian/workspace.json
